

.incomeFormContainer {
    width: 60%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding for spacing */
    background-color:rgb(200, 200, 200);
  }
  

.formContainer {
    width: 60%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; 
    background-color:rgb(200, 200, 200);
}
.buttonContainer {
    display: flex;
    justify-content: center;
  }
  
  .submitButton {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Adjust the margin-top value as needed */
  }
  
.submitButton:hover {
    background-color: #0056b3;
}
