.charts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  flex-wrap: wrap; /* Added for responsiveness */
}

.pie-chart, .bar-chart {
  flex: 1; 
  margin: 10px; 
}

@media (max-width: 768px) {
  .charts-container {
    flex-direction: column; 
}
}